@import url('https://fonts.googleapis.com/css2?family=Andika&family=Inter:wght@400;600;800&family=Montserrat:wght@300;500&family=Playfair+Display:wght@700&family=Poppins:wght@300;500;700&family=Roboto&family=Roboto+Condensed&display=swap');
.Home{
    width: 60%;
    margin: auto;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    font-family: 'Poppins','sans-serif';
}
.Home>p{
    font-family: 'Andika','sans-serif';
    color: #5fe4c9;
}
.Home>div:nth-child(2){
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 13px;
}
.Home>div:nth-child(3){
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}
.Home>div:nth-child(3)>p{
    color: #8892B0;
    width: 60%;
}
.Home>div:nth-child(2)>h1:nth-child(1){
    font-size: 65px;
    color: #CCD6F6;
}
.Home>div:nth-child(2)>h1:nth-child(2){
    font-size: 65px;
    color: #8892B0;
}

.Home>div:nth-child(4)>button{
    padding: 15px 20px;
    border: 1px solid #5fe4c9;
    background-color: transparent;
    color: #5fe4c9;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 30px;
    width: 150px;
}