@import url('https://fonts.googleapis.com/css2?family=Andika&family=Inter:wght@400;600;800&family=Montserrat:wght@300;500&family=Playfair+Display:wght@700&family=Poppins:wght@300;500;700&family=Roboto&family=Roboto+Condensed&display=swap');
.Skills{
    margin: auto;
    width: 70%;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    position: relative;
    flex-direction: column;
    font-family: 'Poppins','sans-serif';
    overflow-x: hidden;
}
.Skills>div:nth-child(1){
    display: flex;
    align-items: center;
    gap: 10px;
    color: #CCD6F6;
}
.Skills>div:nth-child(1)>div{
    width: 250px;
    border: 1px solid #8892B0;
}
.Skills>div:nth-child(2){
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    padding: 10px;
    margin-top: 50px;
}
.Skills>div:nth-child(2)>div{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    align-items: center;
}
.skills-card{
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 150px;
    background-color: black;
    box-shadow: rgba(59, 59, 59, 0) 0px 4px 12px;
}

.skills-card>p{
    color: white;
}

@media screen and (min-width:420px )and (max-width:800px) {
    .Skills{
        width: 80%;
    }
    .Skills>div:nth-child(2)>div{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-content: space-around;
    }
}

@media screen and (min-width:221px )and (max-width:420px) {
    .Skills{
        width: 90%;
    }
    .Skills>div:nth-child(1)>div{
        width: 100px;
    }
    .Skills>div:nth-child(1)>h2{
        font-size: 20px;
    }
    .Skills>div:nth-child(2)>div{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-content: space-around;
    }
}