.App {
  text-align: center;
}
body {
  background-color: #0a192f;
}

.loader{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0a192f;
}
.loader>div>img{
  width: 300px;
  height: 300px;
}